article {
    margin: 20px 30px;
    transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
    position: relative;
    width: 260px;
    height: 150px;
    border: 2px solid azure;
    border-radius: 15px;
    background-color: rgba(27, 31, 34, 0.85);
    border-radius: 4px
}

.artihead {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

a:link {
    text-decoration: none;
  }

p {
    margin: 10px;
    font-size: 75%;
    font-family: "Montserrat", sans-serif;
}