@import "/css/normalize.css";
@font-face {
  font-family: Cubano;
  src: url(/css/fonts/Cubano.ttf);
}
@font-face {
  font-family: Fira-Code;
  src: url(/css/fonts/Fira_code-VF.ttf);
}
@font-face {
  font-family: Sofia Pro;
  src: url(/css/fonts/Sofia_Pro.otf);
}

:root {
  --color-bg-p: #12181b;
  --color-bg-s: #2a2e35;
  --red: #f22e46;
  --white: #ffffff;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cubano;
  color: white;
  padding: 0 1rem;
}

p {
  font-family: Sofia Pro;
  color: white;
}

.standout {
  background-image: linear-gradient(89.47deg, #ff6b00 0.27%, #db00ff 106.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.highlight__text {
  font-family: fira-code;
  color: white;
  font-weight: bold;
  background: linear-gradient(89.47deg, #ff6b00 0.27%, #db00ff 106.11%);
  border-radius: 5xpx;
  padding: 0 10px;
}

::selection {
  background-color: var(--red);
  color: var(--white);
}

/* Background */
body {
  background-color: var(--color-bg-p);
}
