body {
  background-image: url(/css/images/595F85FD-2BCE-422D-B720-1C13E9D9CED0.jpg);
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  padding-top: 250px;
}
