@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,800;1,100;1,300;1,400;1,800&display=swap");
@import url("http://fonts.cdnfonts.com/css/cubano");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/sofia-pro");

:root {
  --gray-1: #3f3f3f;
  --gray-2: #32353a;
  --gray-3: #25282c;
  --gray-4: #151618;
  --gray-5: #151618;
  --gray-6: #12181b;
  --white-1: #eeeeee;
  --white-2: #a9abb3;
}
* {
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  -webkit-tap-highlight-color: transparent;
}
* img {
  max-width: 100%;
}
html,
body {
  color: var(--white-2);
  background-color: var(--gray-6);
  font-family: "Sofia Pro", sans-serif;
  line-height: 2rem;
}
header {
  font-family: "Cubano";
  padding: 2rem 0 4rem 0;
}
header .site-title {
  font-size: 4rem;
  font-weight: bolder;
  line-height: 110%;
  color: var(--white-1);
}
main {
  margin: 0 auto;
  max-width: 650px;
  padding: 3rem 0;
}

/* header */

#bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#img-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

#img-wrapper img {
  border-radius: 100%;
  max-width: 30vh;
}
#bio-wrapper {
  margin-left: 1rem;
  display: flexbox;
  justify-content: right;
  align-items: center;
}
#text-wrapper {
  line-height: 1.2rem;
  font-weight: 300;
  text-align: right;
}
#text-wrapper a {
  color: cyan;
  border-bottom: 1px solid cyan;
}
#social-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}
#social-wrapper img {
  filter: invert() !important;
  width: 25px;
  height: 25px;
  margin: 0 0.5rem;
  transition: all 0.2s ease-in-out;
}
#social-wrapper img:hover {
  transform: scale(1.2);
}

/* article section */

.articles {
  display: grid;
  row-gap: 2rem;
  margin: 4rem 0 3rem 0;
}
.articles .article {
  padding: 2rem;
  background: var(--gray-3);
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.articles .article .article-title,
.articles .article .article-title a {
  color: var(--white-2);
  font-weight: 100;

  font-size: 1.4rem;
  line-height: 130%;
  font-family: "Fira Code";
}
.articles .article:hover {
  transform: scale(1.05);
}
.articles .article .date {
  display: block;
  font-size: 0.8rem;
}
.articles .article .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.articles .article .tags .tag {
  margin: 0 0.5rem 0 0;
  display: block;
  color: #ffffff;
  background: linear-gradient(89.47deg, #00ff6a 0.27%, #db00ff 106.11%);
  border-radius: 15px;
  font-size: 0.7rem;
  padding: 0 0.8rem;
  line-height: 1.3rem;
  cursor: pointer;
}
/* media query */

@media screen and (max-width: 756px) {
  body {
    padding: 1.5rem;
  }
  header .site-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 756px) {
  header .site-title {
    font-size: 3rem;
  }
  .articles {
    row-gap: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  #img-wrapper img {
    width: 50vh;
    padding-bottom: 2rem;
  }
  #text-wrapper {
    text-align: center;
  }
  #social-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #bio {
    align-items: flex-start;
  }
  main,
  .articles {
    padding: 0;
    margin: 0;
  }
  main {
    padding-bottom: 1rem;
  }
  .articles {
    margin: 2rem 0 3rem 0;
    row-gap: 1.2rem;
  }
  header .site-title {
    font-size: 2.4rem;
  }
  .article {
    padding: 1.2rem;
  }
  .articles .article .article-title,
  .articles .article .article-title a {
    font-size: 1rem;
  }
}

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Typography */
::selection {
  background-color: #12181b;
  color: #f22e46;
}

.standout {
  background-image: linear-gradient(89.47deg, #00ff6a 0.27%, #db00ff 106.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.highlight__text {
  font-family: fira-code;
  color: white;
  font-weight: bold;
  background: linear-gradient(89.47deg, #00ff6a 0.27%, #db00ff 106.11%);
  border-radius: 5xpx;
  padding: 0 10px;
}
